# This Notebook Randomises Plates Positions when Scaling 384 to 1536

In [21]:

import Plate_Shuffling as ps
import Colony_Analysis as ca


import os
import numpy as np
import pandas as pd
from tqdm import tqdm
import skimage.io
from matplotlib import pyplot as plt
import cv2
os.getcwd()

'/Users/paucac/Documents/PhD/CAB/CRISPA/CRISPA_plates/CRI-SPA_repo/CRI-SPA'

In [ ]:
#Instructions to combine 4 384 plates into 1 1536:
# each 384 plate is used 4 times in 1 unique source position to generate 13 plates randomised plates
# Rotor configuration:

In [5]:

order = ps.Shuffle_384to1536(1)
order

    Destination  Red  Blue  Yellow  Green
0             1    3     9      13      6
1             2    4     2       6      8
2             3    5     1       4     10
3             4   11     8      12      4
4             5    2    13       9      3
5             6    7     4       1      5
6             7    1    12       7      9
7             8    8    11      10     13
8             9   13     6       2     11
9            10   10     5      11      1
10           11    9     3       8      7
11           12   12    10       5      2
12           13    6     7       3     12

In [ ]:
#While performing the Screen, follow Order instructions to randomise colonies
#For Example:

In [ ]:

Red[3]  Blue[9]                            |  3   9 |
                        >> Destination 1:  |        |
Yellow[13]  Green[6]                       |  13  6 |

In [ ]:
#We will use Order in our image analysis ,Order is a very important object allowing to map back colony positions!
# you can always retrieve your order by running ps.Shuffle_384to1536(seed) with the same seed!